body {
    font-family: Roboto;
}


.header{
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	height: 70px;
	z-index: 9999;
	
}



.content{
	margin: 0 auto;
    width: 720px;
    padding: 0px 15px;
	
}


.header .links { 
	float: right;
	color:#838994;
	margin-top: 25px;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.03em;
	
}


.header .links li{
	display: inline-block;
	margin-left: 25px;

		
}


.header .links .active{
	font-weight: 500;
	color:#4c5058;
}


.header .links li:hover {
	cursor: pointer;
	color: #333333;
}


.logo{
	padding-top: 15px;

}



.intro {
	background-image: url('../images/first-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 45.938rem;
	display: block;
	overflow: auto;
	width: 100%;

}

.intro .content{
	display: block;
	color: #ffffff;
	text-align: center;
	top: 500px;
}

h1{
	margin-top: 17.5rem;
    font-size: 3.125rem;
    font-weight: 300;
}


h3{
	margin-top: 1.25rem;
    font-size: 1.563rem;
    font-weight: 300;

}


.big-button {
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.33;
    width: 9.688rem;
    background-color: #f15a29;
    font-weight: 300;
}


.cases {
	height: 30.938rem;
	width: 100%;
}

.box li{

	display: inline-block;
	width:30%;
	vertical-align: top;

}

.icons {
	border-radius: 50%;
	width: 50px;
	height: 50px; 
	/* width and height can be anything, as long as they're equal */
}




.cases .content img{
	width: 8.688rem;

}


.social{
	text-align: center;
}


.social h5{
	font-weight: 300;
	color: #838994;
	
}


hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.social .icons >li{
	display:inline-block;
	border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #eaebec;

 }

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instagram {
    color: #3f729b;
}

.fa {
	display: inline-block;
	
	
	 
}
	
 


